.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    width: 100%;
}

.title{
    color: var(--text-light);
    font-size: 24px;
    letter-spacing: 1px;
}

.form{
    background-color: var(--purple-bg);
    border: 2px solid var(--purple-light);
    border-radius: 12px;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field label{
    font-size: 12px;
    color: var(--text-muted);
    letter-spacing: 1px;
}

.field input{
    padding: 14px;
    border-radius: 8px;
    border: 2px solid var(--purple-light);
    background: var(--homer-dark);
    color: var(--text-light);
    outline: none;
}

.field input:focus{border-color: var(--text-light);}

.text{
    padding: 12px;
    border-radius: 10px;
    border: 2px solid white;
    outline: none;
    font-size: 15px;
}

.text:focus{border-color: #8324bd;}

.saveBtn{
    background-color: var(--purple-light);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    transition: .2s;
}

.saveBtn:hover{background-color: var(--purple-main);}

.logoutBtn{
    background-color: transparent;
    color: #f27474;
    border: 2px solid #f27474;
    padding: 12px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: .2s;
}

.logoutBtn:hover{
    background-color: #f27474;
    color: white;
}

/* 87 */