@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

.home{
    min-height: 100vh;
    background: #020817;
}

.navbar{
    height: 60px;
    background: #1e293b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #334155;
}

.nav-logo{width: 40px;}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a{
    color: white;
    cursor: pointer;
}

.nav-links a:first-child{color: #7c3aed;}
.user{color: white;}
.img{padding: 10px;}

.img img{
    width: 100%;
    border: 3px solid white;
}

.dashboard{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.sidebar{
    width: 230px;
    background: #0f172a;
    border: 1px solid #1e293b;
}

.sidebar ul{list-style: none;}

.sidebar li{
    color: white;
    padding: 15px;
    cursor: pointer;
}

.active{background: #4f46e5;}
.content{flex: 1;}

.top-cards{
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    gap: 15px;
}

.character-card,.card,.guild-card{
    background: #071126;
    border: 1px solid #1e293b;
}

.character-card{
    padding: 15px;
}

.profile{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.profile img{
    width: 70px;
    border: 2px solid white;
}

.profile h2{color: white;}
.profile p{color: #94a3b8;}

.bar{
    height: 15px;
    margin-bottom: 8px;
}

.hp{background: red;}
.mana{background: #06b6d4;}
.xp{background: #facc15;}

.card{
    min-height: 100px;
    padding: 15px;
}

.card h3{
    color: white;
    margin-bottom: 10px;
}

.task{
    color: white;
    margin-bottom: 10px;
}

.guild-card{
    margin-top: 20px;
    padding: 20px;
}

.guild-card h3{color: white;}

.guild-card p{
    color: white;
    margin: 15px 0;
}

.progress{
    height: 12px;
    background: #13293b;
}