@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
  --bg-dark: #250647;
  --purple-main: #4a157d;
  --purple-light: #6a25b3;
  --triangle-bg: #4a157d;
  --text-light: #fff;
  --text-muted: #bfa3ff;
  --footer-bg: #fff;
  --footer-text: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{background: #020817;}

::-webkit-scrollbar-thumb{
  background: #5145cd;
  border-radius: 20px;
}